*.class
*.pptx
eclipse_console_output_log.txt
*.png
DBMSCaseStudyQueriesImpl/V.00/Q7_(new version motivated by Q13)/Q7-InstalledVersion(new derived from Q3 -EnergyConsumption10minAVG(NoWindoOpNoLimitations).sql
